<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>BullHorn</title>
</head>
<body>
	<div th:fragment="navlinks">
		<a href="/add">Add a Message</a> -- <a href="/">Show All Messages</a><br /> 
	</div>
	<div th:fragment="footer">
		<br /><br /><br /><br /><br /><br /><br />
		Copyright 2017
	</div>
	
	<div th:fragment="header" >
			<div class="jumbotron">
				<h1>BullHorn</h1>
				<p>...</p>
				<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
			</div>
	</div>

</body>
</html>